@model List<Message>
@{
    ViewData["Title"] = "Inbox";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
    string btnTag, btnAlt = "";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Mesajlar</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Gelen Mesaj Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Mesajlar ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Gönderen</th>
                                    <th scope="col">E-Posta Adresi</th>
                                    <th scope="col">Konu</th>
                                    <th scope="col">Tarih</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.NameSurname</td>
                                        <td>@item.Mail</td>
                                        <td>@item.Subject</td>
                                        <td>@item.SendDate.ToShortDateString()</td>
                                        <td>
                                            @if (item.IsRead == true)
                                            {
                                                <label class="text-success">(Okundu)&nbsp;&nbsp;</label>
                                                @* <a href="/Message/ChangeIsRead/@item.MessageId" class="btn btn-danger">Okunmadı Yap</a> *@
                                                btnTag = "la la-folder-open";
                                                btnAlt = "Okunmadı Olarak İşaretle";
                                            }
                                            else
                                            {
                                                <label class="text-danger">(Okunmadı)&nbsp;&nbsp;</label>
                                                @* <a href="/Message/ChangeIsRead/@item.MessageId" class="btn btn-success">Okundu Yap</a> *@
                                                btnTag = "la la-folder";
                                                btnAlt = "Okundu Olarak İşaretle";
                                            }
                                        </td>
                                        <td>
                                            <a href="/Message/MessageDetail/@item.MessageId" class="btn btn-outline-primary" title="Mesajı Aç"><i class="la la-chevron-right"></i></a>
                                            <a href="/Message/ChangeIsRead/@item.MessageId" class="btn btn-outline-dark" title="@btnAlt"><i class="@btnTag"></i></a>
                                            <a href="/Message/DeleteMessage/@item.MessageId" class="btn btn-outline-danger" title="Sil"><i class="la la-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>